In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('albums/albums.csv')
df = df.drop(columns=['Trigger'])
df = df.drop_duplicates()
df["Source"] = [source[7:len(source)] for source in list(df["Source"])]

In [3]:
df.head(10)

                           Name                              Source  Words
0              21ungarischetanze              21ungarischetanze.jpg     21
5                51songskidslove                51songskidslove.jpg    104
10            AbsoluteDisneyVol1             AbsoluteDisneyVol1.jpg      4
15            AbsoluteDisneyVol2             AbsoluteDisneyVol2.jpg      4
20            AbsoluteDisneyVol3             AbsoluteDisneyVol3.jpg      4
25                      adambomb                       adambomb.png      5
30                         adele                          adele.png      2
35  albinoniadagiopachelbelcanon  albinoniadagiopachelbelcanon.jpeg     19
40                   alicecooper                    alicecooper.png     10
45             anitaliansongbook              anitaliansongbook.jpg     12

In [4]:
source_df = df["Source"]
source_df.to_csv("albums/albums_sources.csv")

In [4]:
template = r"""
<script type="application/ld+json">
{{
  "@context": "https://schema.googleapis.com",
  "@type": "ARArtifact",
  "arTarget": {{
    "@type": "ARImageTarget",
    "name" : "{name}", 
    "image": "https://raw.githubusercontent.com/belindazeng/test/gh-pages/albums/images/{source}" 
  }},
  "arContent": {{
    "@type": "VideoObject",
    "name": "{name}", 
    "contentUrl": "https://raw.githubusercontent.com/belindazeng/test/gh-pages/albums/videoplayback.mp4",
    "description": "Test lenslets - albums category",
    "url": "http://lens.famsf.org/lenslet/blue-veil?amp",
    "publisher": {{
      "@type": "Organization",
      "name": "de Young museum",
      "logo": "http://lens.famsf.org/themes/custom/lenstheme/images/dy-logo.png"
    }}
  }}
}}
</script>
"""
for _, row in df.iterrows():
    name = row["Name "]
    source = row["Source"]
    content = template.format(name=name, source=source)
    filename = "albums/pages/" + name + ".html"
    with open(filename,"w") as html_file:
        html_file.write(content)

In [80]:
urls = [ "https://belindazeng.github.io/test/albums/pages/"+ name + ".html" for name in df["Name "]] 
with open ("urls.txt", "w") as url_file:
    url_file.write(str(urls))